name: lint

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  run-swiftlint:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3

      - name: Lint code using SwiftLint
        run: |
          swiftlint --version
          swiftlint lint --reporter github-actions-logging

  run-swiftformat:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3

      - name: Install SwiftFormat
        run: |
          brew install SwiftFormat

      - name: Lint code using SwiftFormat
        run: |
          swiftformat --version
          swiftformat --config .swiftformat.yml --lint --quiet .
